


/* навигация*/




   





/* герой*/

 /* описание компании */

    


/* які проекти*/



/* команда */




/*.soc-icon {
    fill: var(--icon);
}
.soc-link:hover ,:focus {
background-color: var(--accent-text-color);
}
.soc-link:hover,:focus .soc-icon {
    fill: var(--hero-text-color);
}
*/


/* підвал*/

    




/* порфоліо вітділи*/





/* кнопка*/


/* кнопка порфоліо*/




/*backdrop*/


    
   
   
   
   
   
   
    /*FORM*/











/*checkbox-control*/

