.nav :hover,
.nav :focus {
    color: var(--accent-text-color);

}



.page-nav {
    display: flex;
    align-items: center;

}

.nav__list {
    display: flex;



}


.nav__link {
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--time);
}

.current-page {
    position: relative;
    color: var(--accent-text-color);
}



.current-page::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
}
.nav__link:focus {
    color: var(--accent-text-color);


}

.nav__link::after {
    opacity: 1;
    color: var(--accent-text-color);
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}