.soc__list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 30px;
    gap: 10px;

}

.soc__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    background-color: var(--hero-text-color);
    border-radius: 50%;
    color: var(--icon);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--time);
}

.soc__icon {
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--time);
}


.soc__icon {
    fill: currentColor;
}

.soc__link:hover,
.soc__link:focus {
    background-color: var(--accent-text-color);
    color: var(--hero-text-color);
}